@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <div class="d-flex mx-5 align-items-center gap-3">
                <img src="/logo.jpeg" alt="Logo" class="logo" />
                @* kategoriler icin dropdown olusturdum *@
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        Kategoriler
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Kadın</button></li>
                        <li><button class="dropdown-item" type="button">Erkek</button></li>
                    </ul>
                </div>
                <p class="mb-0">Fırsatlar ve Kampanyalar</p> @* firsatlar ve kampanyalar *@
            </div>

            @* arama butonu  *@
            <div class="search-container d-flex align-items-center gap-2">
                <input class="form-control search-input" type="search" placeholder="Ürün Ara" aria-label="Search">
                <button class="btn btn-outline-success search-btn" type="submit">Ara</button>
            </div>

            <div class="d-flex mx-5 align-items-center gap-5">
                @* kullaniciya ait hesap *@
                <p class="mb-0 d-flex align-items-center">
                    <i class="bi bi-person"></i>
                    <span class="ms-1">Hesabım</span>
                </p>
                @* kullaniciya ait favoriler *@
                <p class="mb-0 d-flex align-items-center">
                    <i class="bi bi-heart"></i>
                    <span class="ms-1">Favorilerim</span>
                </p>
                @* kullaniciya ait sepet *@
                <p class="mb-0 d-flex align-items-center">
                    <i class="bi bi-cart"></i>
                    <span class="ms-1">Sepetim</span>
                </p>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>