@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <div class="d-flex mx-5 align-items-center gap-3">
                <img src="/favicon.png" alt="Logo" class="logo" />
                @* kategoriler icin dropdown olusturdum *@
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Male</button></li>
                        <li><button class="dropdown-item" type="button">Female</button></li>
                    </ul>
                </div>
                <p class="mb-0">Deals</p> @* firsatlar ve kampanyalar *@
            </div>

            @* arama butonu  *@
            <div class="search-container d-flex align-items-center gap-2">
                <input class="form-control search-input" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success search-btn" type="submit">Search</button>
            </div>

            <div class="d-flex mx-5 align-items-center gap-5">
                @* kullaniciya ait hesap *@
                <p class="mb-0 d-flex align-items-center">
                    <i class="bi bi-person"></i>
                    <span class="ms-1">Account</span>
                </p>
                @* kullaniciya ait favoriler *@
                <p class="mb-0 d-flex align-items-center">
                    <i class="bi bi-heart"></i>
                    <span class="ms-1">Favourites</span>
                </p>
                @* kullaniciya ait sepet *@
                <p class="mb-0 d-flex align-items-center">
                    <i class="bi bi-cart"></i>
                    <span class="ms-1">Cart</span>
                </p>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>